{% extends 'site.html.twig' %}

{% block title %}
    {{ parent() }} - A status page generator
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $( document ).ready(function() {
            var slides = 2,
            slideIndex = 1,
            delay = 2000;

            function incrSlideShow() {
                slideIndex = (slideIndex < slides) ? (slideIndex + 1) : 1;
                $('.jumbotron-example img').attr('src', '{{ asset('img/home-example') }}' + slideIndex + '.png');
            }

            var timer = setInterval(incrSlideShow, delay);
        });
    </script>
{% endblock %}

{% block body %}
{{ parent() }}
<div class="jumbotron">
    <div class="container">
        <div class="col-md-6 col-xs-12 col-sm-4">
            <h1>Is It ... Yet?</h1>
            <p>Create a status page which update in real-time to anyone browsing it.</p>
            <p><a class="btn btn-primary" href="{{ path('app') }}" role="button">Create your page &raquo;</a></p>
        </div>
        <div class="col-md-6 col-sm-8 hidden-xs">
            <div class="jumbotron-example">
                <img alt="" src="{{ asset('img/home-example1.png') }}">
            </div>
        </div>
    </div>
</div>

<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-6">
            <h2>Boolean example</h2>
            <p>Check the example of a page with a boolean status.</p>
            <p><a class="btn btn-default" href="{{ path('instance_view', {'publicKey': 'boolean-demo'}) }}" role="button">Boolean page &raquo;</a></p>
            <p><a class="btn btn-default" href="{{ path('instance_edit', {'publicKey': 'boolean-demo', 'writeKey': '4ae51a53-c64a-43da-9284-278e0ad53120'}) }}" role="button">Edit it &raquo;</a></p>
        </div>
        <div class="col-md-6">
            <h2>Countdown example</h2>
            <p>Check the example of a page with a countdown.</p>
            <p><a class="btn btn-default" href="{{ path('instance_view', {'publicKey': 'countdown-demo'}) }}" role="button">Countdown page &raquo;</a></p>
            <p><a class="btn btn-default" href="{{ path('instance_edit', {'publicKey': 'countdown-demo', 'writeKey': '4ae51a53-c64a-43da-9284-278e0ad53120'}) }}" role="button">Edit it &raquo;</a></p>
        </div>
    </div>
</div>
{% endblock %}