{% extends 'base.html.twig' %}

{% block meta %}
    <meta property="og:url" content="{{ path('instance_view', {'key': instance.data.publicKey}) }}"/>
    <meta property="og:title" content="{{ instance.data.title }}"/>
    <meta property="og:description" content="Powered by IsItYet"/>
    {#<meta property="og:image" content="{{ cdn ~ macro.id ~ '.png' }}"/>#}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% if app.environment == 'prod' %}
        <!-- prod:instance.css -->
        <!-- endbuild -->
    {% else %}
        <!-- dev:instance.css -->
<link rel="stylesheet" href="/compiled_dev/css/instance.css/instance_0.css" />
<!-- endbuild -->
    {% endif %}
{% endblock %}

{% block javascript_head %}
    var ws_url = "ws://{{ app.request.httpHost }}:{{ ws_port }}";
    var instanceData = {{ instance | serialize('json') | raw }};
{% endblock %}

{% block react %}
{% if app.environment == 'prod' %}
<!-- prod:app-instance.js -->
<!-- endbuild -->
{% else %}
<!-- dev:app-instance.js -->
<script src="/compiled_dev/jsx/app-instance.js/app-instance.js"></script>
<!-- endbuild -->
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <!-- Facebook sharing -->
    <div id="fb-root"></div>
    <script>(function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s);
            js.id = id;
            js.src = "//connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v2.3";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

    <!-- Twitter sharing -->
    <script>!function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
            if (!d.getElementById(id)) {
                js = d.createElement(s);
                js.id = id;
                js.src = p + '://platform.twitter.com/widgets.js';
                fjs.parentNode.insertBefore(js, fjs);
            }
        }(document, 'script', 'twitter-wjs');</script>
{% endblock %}

{% block body %}
    <div class="wrap">
        <div class="main" id="instance">
            {% block main %}
            {% endblock %}
        </div>
    </div>
{% endblock %}

{% block footer %}
    <p>Powered by <a href="{{ path('home') }}">IsItYet</a> - <a href="{{ path('app') }}">Create your own page</a></p>
    </div>
{#    <div class="col-md-6"><p>© 2015 <a href="http://www.funkybits.fr">FunkyBits</a></p></div>
    <div class="col-md-6">&#123;&#35;<p class="text-muted pull-right">Sources</p>&#35;&#125;</div>#}
{% endblock %}