{% extends 'base.html.twig' %}

{% block title %}
    {{ instance.data.title }} - {{ parent() }}
{% endblock %}

{% block meta %}
    <meta property="og:url" content="{{ url('instance_view', {'publicKey': instance.data.publicKey}) }}"/>
    <meta property="og:title" content="{{ instance.data.title }}"/>
    <meta property="og:description" content="Real-time update"/>
    <meta property="og:site_name" content="IsItYet"/>
    {#<meta property="og:image" content="{{ cdn ~ macro.id ~ '.png' }}"/>#}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="/assets/css/instance.css" />
{% endblock %}

{% block javascript_head %}
    var ws_url = "ws://{{ app.request.httpHost }}:{{ ws_port }}";
    var instanceData = {{ instance | serialize('json') | raw }};
{% endblock %}

{% block react %}
    <script src="/assets/js/app-instance.js"></script>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% include ":mixins:sharing.html.twig" %}
{% endblock %}

{% block body %}
    <div class="wrap">
        <div class="main" id="instance">
            {% block main %}
            {% endblock %}
        </div>
    </div>
{% endblock %}

{% block footer %}
    <p>Powered by <a href="{{ path('home') }}">IsItYet</a> - <a href="{{ path('app') }}">Create your own page</a></p>
{% endblock %}